<section>

  <div class="row">
    <div id="view-mail-wrapper">
      <div class="panel-body">
        <header>
          <h3>Nuevo mensaje</h3>
        </header>
        <div class="row">
          <div class="col-md-12">
            <div class="panel view-compose-body">
              <div class="panel-body">
                <form style="padding: 15px" name="vm.form.mailForm" class="form-horizontal" ng-submit="vm.save(vm.form.mailForm.$valid)" novalidate>
                  <fieldset>
                    <div class="form-group has-info" show-errors>
                      <input name="to" type="text" ng-model="vm.mail.to" id="to" class="form-control has-info" placeholder="Para" required>
                      <div ng-messages="vm.form.mailForm.to.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Por favor indique a quién va dirigido el correo</p>
                      </div>
                    </div>
                    <div class="form-group has-info" show-errors>
                      <input name="to" type="text" ng-model="vm.mail.subject" id="subject" class="form-control" placeholder="Asunto" required>
                      <div ng-messages="vm.form.mailForm.subject.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Por favor indique el asunto del correo</p>
                      </div>
                    </div>
                    <div class="form-group has-info" show-errors>
                      <textarea rows="5" cols="40" ng-model="vm.mail.body" id="body" class="form-control" placeholder="Redactar correo" required></textarea>
                      <div ng-messages="vm.form.mailForm.body.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Por favor indique el asunto del correo</p>
                      </div>
                    </div>
                    <div class="form-group has-info">
                      <div class="panel-footer">
                        <button class="btn btn-info btn-sm btn-raised">Envíar</button>
                        <button class="btn btn-info btn-sm btn-raised"><i class="fa fa-times"></i> Descartar</button>
                        <button class="btn btn-info btn-sm btn-raised pull-right"><i class="fa fa-paperclip"></i> Adjuntar un archivo</button>
                      </div>
                    </div>
                    <div ng-show="vm.error" class="text-danger">
                      <strong ng-bind="vm.error"></strong>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

