<section>
  <div class="col-md-2">
    <br/>
    <img src="/modules/core/client/img/brand/logo.png" width="200" alt="Geoatencion">
  </div>
  <div class="col-md-8">
    <div class="text-center title">
      <h2>{{vm.date}}</h2>
    </div>
  </div>
  <br/>

  <table ng-show="vm.logPeriod.length" class="table table-hover">
    <thead>
    <tr>
      <th>Identificador</th>
      <th>Fecha</th>
      <th>Descripción</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="log in vm.logPeriod">
      <td>{{log._id}}</td>
      <td>{{log.created | date:'medium'}}</td>
      <td>{{log.description}}</td>
    </tr>
    </tbody>
  </table>
  <small>
    <em class="text-muted">
      Este reporte ha sido generado para la fecha del {{vm.today}}
    </em>
  </small>
</section>
