<section>
  <div class="text-center title">
    <h2>Linea de tiempo de atención </h2>
    <br/>
  </div>
  <div style="height: 456px; overflow-y: scroll; overflow-x: hidden" id="style-6">
    <div class="force-overflow">
      <div class="container">
        <div class="row">

          <div  class="timeline-centered">


            <article ng-repeat="alarm in vm.alarms" class="timeline-entry">
              <div class="timeline-entry-inner">

                <div ng-if="alarm.status === 'esperando'" class="timeline-icon bg-secondary">
                  <i class="entypo-location"></i>
                </div>
                <div ng-if="alarm.status === 'en atencion'" class="timeline-icon bg-success">
                  <i class="entypo-location"></i>
                </div>
                <div ng-if="alarm.status === 'rechazado'" class="timeline-icon bg-info">
                  <i class="entypo-location"></i>
                </div>

                <div class="timeline-label">
                  <h2><a href="#">{{alarm.user.displayName}} </a>
                    <span>- {{alarm.created | date:'medium'}} - </span>
                    <a ui-sref="alarms.view({ alarmId: alarm._id })">Más sobre esta alarma</a><br/>
                  </h2>

                  <div id="sample-checkin" class="map-checkin" style="height: 170px; overflow: hidden; ">
                    <ng-map
                      zoom="11"
                      center="[{{alarm.latitude}},{{alarm.longitude}}]">

                      <marker
                        id='{{alarm._id}}'
                        position="{{[alarm.latitude, alarm.longitude]}}"
                        title="{{alarm.status}}"
                        icon="{{alarm.icon}}">
                      </marker>

                    </ng-map>
                  </div>
                </div>
              </div>
            </article>

          </div>


        </div>
      </div>
    </div>
  </div>

</section>
