<section>
  <div class="text-center title">
    <h2>Estadísticas de atención</h2>
    <br/>
  </div>

  <div class="page-header">
    <h3>Solicitudes de atención por status</h3>
  </div>

  <div >
    <div class="row clearfix">
      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> Esperando atención</div>
            <div class="circle-tile-number text-faded ">{{vm.alarmsEsperando}}</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content red">
            <div class="circle-tile-description text-faded"> En atención </div>
            <div class="circle-tile-number text-faded ">{{vm.alarmsEnAtencion}}</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> Rechazados</div>
            <div class="circle-tile-number text-faded ">{{vm.alarmsRechazado}}</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content red">
            <div class="circle-tile-description text-faded"> Atendidos </div>
            <div class="circle-tile-number text-faded ">x</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Historia de atención</h3>
   <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="padding-bottom: 8px; margin-left: 14px">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <img class="status" ng-src="/modules/alarms/client/img/history.png" alt="Loading image..." height="25px" width="27px">
            &nbsp;&nbsp;Del organismo
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="statusBox">
          <div class="scrollbar-log" id="style-6">
            <div class="force-overflow">
              <ul>
                <li ng-repeat="log in vm.log ">
                  {{log._id}} - <strong>Fecha de solicitud:</strong> {{log.created | date:'medium'}} - <strong>Cliente: </strong> {{log.clientEmail}} <strong>Operador: </strong>{{log.operatorEmail}} - <strong>Acción: </strong> {{log.description}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title" style="padding-bottom: 8px; margin-left: 14px">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
             <img class="status" ng-src="/modules/alarms/client/img/history.png" alt="Loading image..." height="25px" width="27px">
             &nbsp;&nbsp;Por cliente
           </a>
         </h4>
       </div>
       <div id="collapse2" class="panel-collapse collapse">
         <div class="statusBox">
           <div class="scrollbar-log" id="style-6">
             <div class="force-overflow">
               <div style="margin: 0px 40px 0px 20px" class="form-group has-info">
                 <label class="control-label">Por favor indique el email del usuario cliente a consultar: </label>
                 <input  style="margin:0px 10px 0px 10px; width: 50%; display: inline-block" ng-model="userEmail" type="text" class="form-control" required>
                 <button style="display: inline-block" ng-click="vm.searchUser(userEmail)" class="btn btn-info">Consultar</button>
               </div>
               <ul>
                 <li ng-repeat="log in vm.logClient ">
                   {{log._id}} - <strong>Fecha de solicitud:</strong> {{log.created | date:'medium'}} - <strong>Cliente: </strong> {{log.client}} - <strong>Operador: </strong>{{log.user.email}} - <strong>Acción: </strong> {{log.description}}
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="panel panel-default">
       <div class="panel-heading">
         <h4 class="panel-title" style="padding-bottom: 8px; margin-left: 14px">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
             <img class="status" ng-src="/modules/alarms/client/img/history.png" alt="Loading image..." height="25px" width="27px">
             &nbsp;&nbsp;Por unidad de atención
           </a>
         </h4>
       </div>
       <div id="collapse3" class="panel-collapse collapse">
         <div class="statusBox">
           <div class="scrollbar-log" id="style-6">
             <div class="force-overflow">
               <div style="margin: 0px 40px 0px 20px" class="form-group has-info">
                 <label class="control-label">Por favor indique el identificador de la unidad de atención a consultar: </label>
                 <input  style="margin:0px 10px 0px 10px; width: 50%; display: inline-block" ng-model="networkID" type="text" class="form-control" required>
                 <button style="display: inline-block" ng-click="vm.searchNetwork(networkID)" class="btn btn-info">Consultar</button>
               </div>
               <ul>
                 <li ng-repeat="log in vm.logNetwork ">
                   {{log._id}} - <strong>Fecha de solicitud:</strong> {{log.created | date:'medium'}} - <strong>Cliente: </strong> {{log.clientEmail}} - <strong>Operador: </strong>{{log.operatorEmail}} - <strong>Acción: </strong> {{log.description}}
                 </li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>

  <!--<div class="list-group">
    <a ng-repeat="estadistica in vm.estadisticas"
       ui-sref="estadisticas.view({ estadisticaId: estadistica._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="estadistica.created | date:'mediumDate'"></span>
        by
        <span ng-if="estadistica.user" ng-bind="estadistica.user.displayName"></span>
        <span ng-if="!estadistica.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="estadistica.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.estadisticas.$resolved && !vm.estadisticas.length">
    No Estadisticas yet, why don't you <a ui-sref="estadisticas.create">create one</a>?
  </div>-->
</section>
