<section>
  <div class="text-center title">
    <h2>Estadísticas de atención</h2>
    <br/>
  </div>

  <div class="page-header">
    <h3>Casos por status</h3>
  </div>

  <div >
    <div class="row clearfix">
      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> Esperando atención</div>
            <div class="circle-tile-number text-faded ">265</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content red">
            <div class="circle-tile-description text-faded"> En atención </div>
            <div class="circle-tile-number text-faded ">10</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> Rechazados</div>
            <div class="circle-tile-number text-faded ">265</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content red">
            <div class="circle-tile-description text-faded"> Atendidos </div>
            <div class="circle-tile-number text-faded ">10</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="page-header">
    <h3>Unidades de atención</h3>
  </div>
  <div >
    <div class="row clearfix">
      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-car fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> Users</div>
            <div class="circle-tile-number text-faded ">265</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading red"><i class="fa fa-car fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content red">
            <div class="circle-tile-description text-faded"> Users Online </div>
            <div class="circle-tile-number text-faded ">10</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-car fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content dark-blue">
            <div class="circle-tile-description text-faded"> Users</div>
            <div class="circle-tile-number text-faded ">265</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 column">
        <div class="circle-tile ">
          <a href="#"><div class="circle-tile-heading red"><i class="fa fa-car fa-fw fa-3x"></i></div></a>
          <div class="circle-tile-content red">
            <div class="circle-tile-description text-faded"> Users Online </div>
            <div class="circle-tile-number text-faded ">10</div>
            <a class="circle-tile-footer" href="#">More Info <i class="fa fa-chevron-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="page-header">
    <h3>Tiempos de atención</h3>
  </div>
  <div>
    <div class="row clearfix">
      <div class="col-md-3 column">
        <div class="panel panel-default">
          <div class="panel-heading libreStatsPanelHeading">
            <div class="panel-title">
              <span>Duración promedio</span>
              <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#uniqueVisitor"
                 data-toggle="collapse"></a>
            </div>
          </div>
          <div class="panel-body libreStatsPanelBody collapse in" id="uniqueVisitor">
            <div class="row clearfix libreStatsPanelRow">
              <div class="col-md-8 column libreStatsPanelValueColumn">
                <p class="libreStatsCount">10</p>
                <small>Unique Visitor</small>
              </div>
              <div class="col-md-4 column">
                <span style="color: rgba(255, 0, 0, 0.75);" class="pull-right fa fa-users fa-5x libreStatsIcon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 column">
        <div class="panel panel-default">
          <div class="panel-heading libreStatsPanelHeading">
            <div class="panel-title">
              <span>Duración mas larga</span>
              <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#activity"
                 data-toggle="collapse"></a>
            </div>
          </div>
          <div class="panel-body libreStatsPanelBody collapse in" id="activity">
            <div class="row clearfix libreStatsPanelRow">
              <div class="col-md-8 column libreStatsPanelValueColumn">
                <p class="libreStatsCount">320</p>
                <small>New Comments</small>
              </div>
              <div class="col-md-4 column">
                <span style="color: rgba(0, 29, 255, 0.84);" class="pull-right fa fa-users fa-5x libreStatsIcon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 column">
        <div class="panel panel-default">
          <div class="panel-heading libreStatsPanelHeading">
            <div class="panel-title">
              <span>Tiempo de respuesta promedio</span>
              <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#user"
                 data-toggle="collapse"></a>
            </div>
          </div>
          <div class="panel-body libreStatsPanelBody collapse in" id="user">
            <div class="row clearfix libreStatsPanelRow">
              <div class="col-md-8 column libreStatsPanelValueColumn">
                <p class="libreStatsCount">190</p>
                <small>New User</small>
              </div>
              <div class="col-md-4 column">
                <span class="pull-right fa fa-user-times fa-5x libreStatsIcon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 column">
        <div class="panel panel-default">
          <div class="panel-heading libreStatsPanelHeading">
            <div class="panel-title">
              <span>Unidades desponibles</span>
              <a class="fa fa-caret-down pull-right libreStatsPanelHeadingIcon" href="#sales"
                 data-toggle="collapse"></a>
            </div>
          </div>
          <div class="panel-body libreStatsPanelBody collapse in" id="sales">
            <div class="row clearfix libreStatsPanelRow">
              <div class="col-md-8 column libreStatsPanelValueColumn">
                <p class="libreStatsCount">23,145</p>
                <small>Dollar</small>
              </div>
              <div class="col-md-4 column">
                <span class="pull-right fa fa-car fa-5x libreStatsIcon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="list-group">
    <a ng-repeat="estadistica in vm.estadisticas"
       ui-sref="estadisticas.view({ estadisticaId: estadistica._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="estadistica.created | date:'mediumDate'"></span>
        by
        <span ng-if="estadistica.user" ng-bind="estadistica.user.displayName"></span>
        <span ng-if="!estadistica.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="estadistica.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.estadisticas.$resolved && !vm.estadisticas.length">
    No Estadisticas yet, why don't you <a ui-sref="estadisticas.create">create one</a>?
  </div>-->
</section>
