<!DOCTYPE html>
<html lang="en" ng-strict-di>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{twitterUsername}}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="/{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {{#each cssFiles}}<link rel="stylesheet" href="/{{this}}">{{/each}}

  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
</head>

<body class="ng-cloak landing-page">
<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-info navbar-transparent">
  <div class="container"  ng-controller="HeaderController as vm">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#">
        <div class="logo-container">
          <div class="logo">
            <img ui-sref="home" src="{{url}}/modules/core/client/img/brand/logo.png" width="200" alt="Geoatencion" rel="tooltip" class="img-rounded img-responsive" title="" data-placement="bottom" data-html="true">
          </div>
          <div class="brand">

          </div>


        </div>
      </a>
    </div>
    <div ng-include="'/modules/core/client/views/header.client.view.html'" class="collapse navbar-collapse" id="navigation-example"></div>
  </div>
</nav>
  <div class="wrapper" id="content">
    <div class="header header-filter" style="background-image: url('{{url}}/modules/core/client/img/brand/fondo.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="brand">
              <h1>

              </h1>
              <br /><br />
              <h3>
                Con solo presionar un botón podrá reportar todo tipo de situaciones y recibir asistencia inmediata, siempre estando en contacto con usted
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main main-raised">
      <div class="container">
        {{{block "content"}}}
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <nav class="pull-left">
        <ul>
          <li>
            <a href="http://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="http://www.creative-tim.com/license">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright pull-right">
        Únetenos y mantente al tanto...
        El equipo de Geotención, siempre para usted.&copy; 2017

      </div>
    </div>
  </footer>

  <noscript>
    <style>
      [ng\:cloak], [ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: block !important;
      }
    </style>
    <div class="alert alert-warning">
      <strong>This page requires JavaScript.</strong> Please enable it in your browser.
    </div>
  </noscript>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{{ user }}};
    var env = "{{ env }}";
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>


  <script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-messaging.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyBe_YTImxZNM4vXJJxpnzk8MQ_mK-t2xk4",
      authDomain: "geoatencion-9cded.firebaseapp.com",
      databaseURL: "https://geoatencion-9cded.firebaseio.com",
      projectId: "geoatencion-9cded",
      storageBucket: "geoatencion-9cded.appspot.com",
      messagingSenderId: "382738472231"
    };
    firebase.initializeApp(config);
  </script>

  <!--Key-->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&sensor=false&key=AIzaSyDw5kRzj6eksyuFKNkc5u7SM0uB6PNs4yU"></script>
  <script src="http://kendo.cdn.telerik.com/2016.3.914/js/kendo.all.min.js" defer></script>

  <!--Application JavaScript Files-->
    {{#each jsFiles}}<script type="text/javascript" src="/{{this}}"></script>{{/each}}

  <!--owasp config sync-->
  <script type="text/javascript">
    var sharedConfig = {{{ sharedConfig }}};
    owaspPasswordStrengthTest.config(sharedConfig.owasp);
  </script>

  {{#if livereload}}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {{/if}}
</body>

</html>
