<section>
  <div class="text-center title">
    <div class="row">
      <div>
        <h2>Organismos afiliados</h2>
      </div>
      <div class="form-group has-info label-floating col-md-4" style="margin: 0% 20% 0% 34% ; width: 32.5%">
        <input class="form-control col-md-4"
               type="text" ng-model="vm.search"
               placeholder="Buscar"
               ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>


  <div id="Cuerpo">
    <div class="row clearfix">
      <div ng-repeat="user in vm.pagedItems" class="tamano col-md-3 column">
        <div class="circle-tile ">
          <div class="circle-tile-heading dark-blue">
            <img style="vertical-align: baseline" ng-src="/{{user.profileImageURL}}" height="90" width="80"  class="img-circle" alt="Loading image...">
          </div>
          <div class="circle-tile-content dark-blue">
            <div style="height: 130px">
              <div class="circle-tile-number text-faded ">{{user.displayName}}</div>
              <div class="text-faded">
                <div ng-show="user.about">
                  <em>{{user.about}}</em>
                </div>
                <div style="display: inline-block" ng-repeat="categories in vm.categories" ng-if="user.category === categories.id">
                  Categoría de atención: {{categories.name}}
                </div>
                <br/>
                Unidades de atención: {{user.network}}
                <br/>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <div class="circle-tile-footer">
              <small style="display: inline-block;" class="list-group-item-text">
                Fecha de afiliación
                <span ng-bind="user.created | date:'mediumDate'"></span>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Cuerpo" class="container">
    <div class="row">
      <!-- BEGIN PRODUCTS -->
      <div ng-repeat="user in vm.pagedItems" class="cuadricula col-md-3 col-sm-6">
    		<span >
          <div class="fecha">
            <img style="vertical-align: baseline" ng-src="/{{user.profileImageURL}}" height="90" width="80"  class="img-circle" alt="Loading image...">
          </div>
          <div style="height: 104px">
      			<h4 class="list-group-item-heading"><strong>{{user.displayName}}</strong></h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<div ng-show="user.about">
              <em >{{user.about}}</em>
              <br/>
            </div>
            <div style="display: inline-block" ng-repeat="categories in vm.categories" ng-if="user.category === categories.id">
              Categoría de atención: {{categories.name}}
            </div>
            Unidades de atención: {{user.network}}
          </div>

      			<div class="row">
      					<small style="display: inline-block;" class="list-group-item-text">
                  Fecha de afiliación
                  <span ng-bind="user.created | date:'mediumDate'"></span>
                </small>
      			</div>
    		</span>
      </div>
    </div>
  </div>


  <!--<div id="Cuerpp" >
    <div ng-repeat="user in vm.pagedItems" class="cuadricula">

      <div class="fecha">
        <img style="vertical-align: baseline" ng-src="/{{user.profileImageURL}}" height="50" width="50"  class="img-circle" alt="Loading image...">
      </div>
      <div style="display: inline-block">
        <h4 class="list-group-item-heading"><strong>{{user.displayName}}</strong></h4>
        &lt;!&ndash;<p class="list-group-item-text small" ng-bind="user.roles"></p>&ndash;&gt;
        <div ng-show="user.about">
          <em >{{user.about}}</em>
          <br/>
        </div>
        <div style="display: inline-block" ng-repeat="categories in vm.categories" ng-if="user.category === categories.id">
          Categoría de atención: {{categories.name}}
        </div>
        <br/>
        Unidades de atención: {{user.network}}
        <br/>
        <small style="display: inline-block" class="list-group-item-text">
          Fecha de afiliación
          <span ng-bind="user.created | date:'mediumDate'"></span>
        </small>
      </div>
    </div>
  </div>-->

</section>
