<section>
  <div class="text-center title">
    <div class="row">
      <div>
        <h2>Catálogo de organismos afiliados</h2>
      </div>
      <div class="form-group has-info label-floating col-md-4" style="margin: 0% 20% 0% 34% ; width: 32.5%">
        <input class="form-control col-md-4"
               type="text" ng-model="vm.search"
               placeholder="Buscar"
               ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="user in vm.pagedItems"
       ui-sref="catalogos.view({ catalogoId: catalogo._id })"
       class="list-group-item">
      <table id="catalogo" class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Nombre del organismo</th>
          <th>Categoría de servicio</th>
          <th>Unidades de atención</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td ng-bind="user.displayName"></td>
          <td ng-repeat="option in vm.categories" ng-if="user.category === option.id">{{option.name}}</td>
        </tr>
        </tbody>
      </table>

      <small class="list-group-item-text">
        Posted on
        <span ng-bind="catalogo.created | date:'mediumDate'"></span>
        by
        <span ng-if="catalogo.user" ng-bind="catalogo.user.displayName"></span>
        <span ng-if="!catalogo.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="catalogo.name"></h4>
    </a>
  </div>
  <!--<div class="alert alert-warning text-center" ng-if="vm.catalogos.$resolved && !vm.catalogos.length">-->
    <!--No Catalogos yet, why don't you <a ui-sref="catalogos.create">create one</a>?-->
  <!--</div>-->
</section>
