<section>
  <div class="page-header">
    <h2>Historia por unidad de atención</h2>
  </div>

  <div style="margin: 0px 40px 0px 20px" class="form-group has-info">
    <label class="control-label">Por favor indique el identidicador de la unidad a consultar: </label>
    <input  style="margin:0px 10px 0px 10px; width: 50%; display: inline-block" ng-model="network" type="text" class="form-control" required>
    <button style="display: inline-block" ng-click="vm.searchNetwork(network)" class="btn btn-sm btn-info">Consultar</button>
  </div>

  <!--<ng-map zoom="15" center="{{vm.centerLatitude }}, {{vm.centerLongitude}}" map-type-id="SATELLITE">-->
    <!--<heatmap-layer data="heatmapData"></heatmap-layer>-->
  <!--</ng-map>-->

  <ng-map zoom="15" center="{{vm.centerLatitude }}, {{vm.centerLongitude}}" map-type-id="SATELLITE">
    <heatmap-layer id="foo" data="heatmapDatanew"></heatmap-layer>
  </ng-map>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title" style="padding-bottom: 8px; margin-left: 14px">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <img class="status" style="vertical-align: baseline" ng-src="/modules/panels/client/img/car-placeholder.png" alt="Loading image...">
          <p style="margin: 0 0 2px 35px;">Historia LOG</p>
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="statusBox">
        <div class="scrollbar-log-network" id="style-6" style="width: 1140px;">
          <div class="force-overflow">
            <table ng-show="vm.mobileUnitLog.length != 0" class="table table-hover">
              <thead>
              <tr>
                <th>Descripción</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="mobileUnitLog in vm.mobileUnitLogFinal">
                <td ng-bind="mobileUnitLog"></td>
              </tr>
              </tbody>
            </table>
            <div ng-show="vm.mobileUnitLog.length == 0">
              <small>
                <em class="text-muted">
                  No posee historia
                </em>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="alert alert-warning text-center" ng-if="vm.mobileunithistories.$resolved && !vm.mobileunithistories.length">
    No Mobileunithistories yet, why don't you <a ui-sref="mobileunithistories.create">create one</a>?
  </div>
</section>
