<section>
  <div class="page-header">
    <h3>{{vm.alarm._id ? 'Detalle de la solicitud de atención' : 'ADetalle de la solicitud de atención '}}</h3>
  </div>
  <div class="col-md-12">
    <form name="vm.form.alarmForm" class="form-horizontal" ng-submit="vm.save(vm.form.alarmForm.$valid)" novalidate>
      <fieldset>

        <div class="form-group has-info" show-errors>
          <label class="control-label" for="_id">Identificador de solicitud</label>
          <input ng-disabled="true" name="_id" type="text" ng-model="vm.alarm._id" id="_id" class="form-control"  required>
          <div ng-messages="vm.form.alarmForm._id.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alarm name is required.</p>
          </div>
        </div>
        <div class="form-group has-info" show-errors>
          <label class="control-label">Datos del usuario</label>
          <textarea ng-disabled="true" name="user" class="form-control" cols="30" rows="3">
            DisplayName: {{vm.user[0].displayName}}
            Email: {{vm.user[0].email}}
          </textarea>
          <div ng-messages="vm.form.alarmForm.user.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alarm name is required.</p>
          </div>
        </div>
        <div class="form-group has-info" show-errors>
          <label class="control-label" for="category">Categoría de servicio</label>
          <input ng-disabled="true" name="category" type="text" ng-model="vm.category[0].category" id="category" class="form-control" required>
          <div ng-messages="vm.form.alarmForm.category.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alarm name is required.</p>
          </div>
        </div>
        <div class="form-group has-info" show-errors>
          <label class="control-label" for="created">Fecha de registro en el sistema</label>
          <input ng-disabled="true" name="created" type="text" ng-value="vm.alarm.created | date:'medium'" id="created" class="form-control" required>
          <div ng-messages="vm.form.alarmForm.created.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alarm name is required.</p>
          </div>
        </div>
        <div class="form-group has-info" show-errors>
          <label class="control-label" for="status">Estado de la solicitud de atención</label>
          <input ng-disabled="true" name="status" type="text" ng-model="vm.alarm.status" id="status" class="form-control" required>
          <div ng-messages="vm.form.alarmForm.status.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alarm name is required.</p>
          </div>
        </div>
        <div class="form-group has-info" show-errors>
          <label class="control-label">Ubicación solicitud de atención</label>
          <textarea ng-disabled="true" name="address" class="form-control" cols="30" rows="3">
            Coordenadas: Latitud: {{vm.alarm.latitude}} - Longitud: {{vm.alarm.longitude}}
            Dirección:  {{vm.alarm.address}}
          </textarea>
          <div ng-messages="vm.form.alarmForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alarm name is required.</p>
          </div>
        </div>
        <div class="form-group has-info" show-errors>
          <label class="control-label" for="network">Unidad de atención</label>
          <select name="network" ng-model="vm.alarm.network" id="network" class="form-control" autofocus>
            <option ng-repeat="option in vm.networks" value="{{option._id}}" >{{option.carCode}}</option>
          </select>
          <div ng-messages="vm.form.alarmForm.network.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Alarm name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">{{vm.alarm._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
