<section>
  <div>
  <div class="page-header">
    <h3>Solicitud de: {{vm.user[0].displayName}}</h3>
    <h4>Status: {{vm.alarm.status}}</h4>
  </div>
  <!--<div class="pull-right"
       ng-show="vm.alarm.isCurrentUserOwner">-->
  <div class="pull-right">
    <a class="btn btn-info"
       ui-sref="alarms.edit({ alarmId: vm.alarm._id })">
      <i class="glyphicon glyphicon-edit"></i>
      Detalle
    </a>

    <a ng-show="vm.alarm.status === 'esperando'" class="btn btn-info" ng-click="vm.remove(1)">
      <i class="glyphicon glyphicon-trash"></i>
      Rechazar
    </a>

    <a ng-show="vm.alarm.status === 'en atencion'" class="btn btn-info" ng-click="vm.remove(2)">
      <i class="glyphicon glyphicon-trash"></i>
      Cancelar
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.alarm.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.alarm.user"
            ng-bind="vm.alarm.user.displayName"></span>
      <span ng-if="!vm.alarm.user">Deleted User</span>
    </em>
  </small>
  </div>
  <div class="panel-group" id="accordion" style="margin-top: 53px;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="padding-bottom: 8px; margin-left: 14px">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            <img class="status" ng-src="/modules/alarms/client/img/history.png" alt="Loading image..." height="25px" width="27px">
            &nbsp;&nbsp;Historia de la alarma
          </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="statusBox">
          <div class="scrollbar-log" id="style-6">
            <div class="force-overflow">
              <ul>
                <li>
                  {{vm.alarm.created | date:'medium'}} (Fecha de registro en el sistema)
                </li>
                <li ng-repeat="log in vm.log ">
                  {{log.created | date:'medium'}} - <strong>Operador: </strong>{{log.user.displayName}} - <strong>Acción: </strong> {{log.description}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="padding-bottom: 8px; margin-left: 14px">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <img class="status" style="vertical-align: baseline" ng-src="/modules/panels/client/img/route.png" alt="Loading image...">
            <p style="margin: 0 0 2px 35px;">Ruta</p>
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="statusBox">
          <div class="scrollbar-log" id="style-6">
            <div class="force-overflow">
              <div id="directionsList" ng-bin class="panel panel-primary"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
