<section>
  <div class="text-center title">
    <h1>
      Catálogo de organismos afiliados
      <a class="btn btn-info btn-raised pull-right" data-ui-sref="admin.articles.create">
        Nuevo
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div style="margin: 0% 20% 5% 20% " class="list-group">
    <a data-ng-repeat="article in vm.articles" data-ui-sref="admin.articles.edit({articleId: article._id})" class="list-group-item">

      <table id="articles" class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Nombre del organismo</th>
          <th>Categoría de servicio</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td data-ng-bind="article.name"></td>
          <td data-ng-bind="article.category"></td>
        </tr>
        </tbody>
      </table>

      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-if="article.user" ng-bind="article.user.displayName"></span>
        <span ng-if="!article.user">Deleted User</span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
    No articles yet, why don't you <a data-ui-sref="admin.articles.create">create one</a>?
  </div>
</section>
