<section>
  <div class="jumbotron text-center" style="background-image: url(/modules/core/client/img/brand/city.jpg);background-size: 100% 100%;background-repeat: no-repeat;">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo1.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead" style="color:white; font-style: italic">
        Con solo presionar un botón podrá reportar todo tipo de situaciones y recibir asistencia inmediata,
        <br />
        siempre estando en contacto con usted
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" ui-sref="authentication.signin">Contáctanos</a>
      </p>
    </div>
  </div>
  <div>
    <h2>Hablemos de Geoatención</h2>
    <p>
      Geoatención es un sistema que le permite enviar alertas de
      emergencia y comunicarlas directamente a organismos de atención
      que tengan incorporado nuestro sistema y que ofrezcan servicio de
      atención en alguna zona geográfica específica.
      Garantizando atención inmediata.
    </p>
    <p>Registrate y forma parte de la comunidad de Geoatención</p>
    <ul>
      <li>
        Click
        <em>Sign Up</em> para dar inicio.
      </li>

      <li>
        ¿Brindas asistencia, atiendes emergencias y quieres proteger personas?
        <em>
          <a  ui-sref="authentication.signup-organism">Click aquí</a>
        </em>
      </li>
    </ul>
  </div>
  <div class="row">
    <div style="text-align: center"  class="col-md-4">
      <img style=" margin: 5% 30%;" src="/modules/core/client/img/brand/bombero.png" alt="Thumbnail Image" >
      <h3>Asistencia <strong>bomberil</strong></h3>
      <p>
        Puedes consultar nuestro catálogo para saber más detalle sobre los servicios y organismos afiliados
        <a ui-sref="articles.list">Click aquí</a>
      </p>
    </div>
    <div style="text-align: center"  class="col-md-4">
      <img style=" margin: 5% 30%;" src="/modules/core/client/img/brand/policia.png" alt="Thumbnail Image" >
      <h3>Asistencia de <strong> seguridad</strong></h3>
      <p>
        Puedes consultar nuestro catálogo para saber más detalle sobre los servicios y organismos afiliados
        <a target="_blank" href="http://expressjs.com/"> links.</a>
      </p>
    </div>
    <div style="text-align: center" class="col-md-4">
      <img  style=" margin: 5% 30%;" src="/modules/core/client/img/brand/salud.png" alt="Thumbnail Image" >
      <h3 >Asistencia <strong> médica</strong></h3>
      <p>
        Puedes consultar nuestro catálogo para saber más detalle sobre los servicios y organismos afiliados
        <a target="_blank" href="http://expressjs.com/"> links.</a>
      </p>
    </div>

  </div>
  <br/>
  <br/>
  <br/>

  <br>Únetenos y mantente al tanto...
  <br>El equipo de Geotención, siempre para usted.
</section>
