<section>
  <div class="page-header">
    <h1>Solicituds</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="solicitud in vm.solicituds"
       ui-sref="solicituds.view({ solicitudId: solicitud._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="solicitud.created | date:'mediumDate'"></span>
        by
        <span ng-if="solicitud.user" ng-bind="solicitud.user.displayName"></span>
        <span ng-if="!solicitud.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="solicitud.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.solicituds.$resolved && !vm.solicituds.length">
    No Solicituds yet, why don't you <a ui-sref="solicituds.create">create one</a>?
  </div>
</section>
