<section>
  <div class="page-header">
    <div>
      <h4 style="display: inline-block"
          ng-repeat="optionOrg in vm.organism"
          ng-if="optionOrg._id === vm.solicitud.organism">
          Solicitud afiliación {{vm.solicitud.user.displayName}},
          para {{optionOrg.firstName}}
      </h4>
      <h4 style="display: inline-block"
          ng-repeat="optionCat in vm.categories"
          ng-if="optionCat.id === vm.solicitud.category">
          en la categoria {{optionCat.name}}.
      </h4>
      <p>Estado de la solicitud: <em>{{vm.solicitud.status}}</em></p>
    </div>
  </div>
  <div class="pull-right"
       ng-show="vm.authentication.user.roles[0]=== 'organism'">
    <a class="btn btn-info" ng-click="vm.updateStatus('aceptado')">
      <i class="glyphicon glyphicon-edit"></i>
      Aceptar
    </a>
    <a class="btn btn-info" ng-click="vm.updateStatus('rechazado')">
      <i class="glyphicon glyphicon-trash"></i>
      Rechazar
    </a>
  </div>
  <div class="pull-right"
       ng-show="vm.solicitud.isCurrentUserOwner && vm.authentication.user.roles[0]!== 'organism'">
    <a class="btn btn-info"
       ui-sref="solicituds.edit({ solicitudId: vm.solicitud._id })">
      <i class="glyphicon glyphicon-edit"></i>
      Editar
    </a>
    <a class="btn btn-info" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
      Eliminar
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.solicitud.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.solicitud.user"
            ng-bind="vm.solicitud.user.displayName"></span>
      <span ng-if="!vm.solicitud.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.solicitud.content"></p>
</section>
