<section>
  <div class="page-header">
    <h1>Branches</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="branch in vm.branches"
       ui-sref="branches.view({ branchId: branch._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="branch.created | date:'mediumDate'"></span>
        by
        <span ng-if="branch.user" ng-bind="branch.user.displayName"></span>
        <span ng-if="!branch.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="branch.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.branches.$resolved && !vm.branches.length">
    No Branches yet, why don't you <a ui-sref="branches.create">create one</a>?
  </div>
</section>
