<section style="margin-bottom: 5%">
  <div class="text-center page-header">
    <div class="row">
      <div>
        <h2>Listado de unidades de atención</h2>
      </div>
      <div class="form-group has-info label-floating col-md-4" style="margin: 0% 20% 0% 34% ; width: 32.5%">

        <input class="form-control col-md-4"
               type="text" ng-model="vm.search"
               placeholder="Buscar"
               ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div style="margin: 0% 20% 0% 20% " class="list-group" >
    <a ng-repeat="network in vm.pagedItems"
       ui-sref="networks.view({ networkId: network._id })"
       class="list-group-item">

      <table id="unidades" class="table table-striped table-hover">
        <thead>
        <tr>
          <th style="width: 40%">Identificador</th>
          <th style="width: 40%">Categoría</th>
          <th style="width: 10%">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td ng-bind="network._id"></td>
          <td  ng-repeat="option in vm.categories" ng-if="network.category === option.id">{{option.name}}</td>
          <td ng-bind="network.status"></td>
        </tr>
        </tbody>
      </table>

      <small class="list-group-item-text">
        Posted on
        <span ng-bind="network.created | date:'mediumDate'"></span>
        by
        <span ng-if="network.user" ng-bind="network.user.displayName"></span>
        <span ng-if="!network.user">Deleted User</span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.networks.$resolved && !vm.networks.length">
    No existen unidades registradas hasta los momentos ¿<a ui-sref="networks.create">registras uno</a>?
  </div>
</section>
