<section style="margin-bottom: 5%">
  <div class="text-center page-header">
    <div class="row">
      <div>
        <h2>Listado de unidades de atención</h2>
      </div>
      <div class="form-group has-info label-floating col-md-4" style="margin: 0% 20% 0% 34% ; width: 32.5%">

        <input class="form-control col-md-4"
               type="text" ng-model="vm.search"
               placeholder="Buscar"
               ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th class="text-center" >Code</th>
      <th class="text-center" >Categoría</th>
      <th class="text-center" >Responsable</th>
      <th class="text-center" >Status</th>
      <th class="text-center">Ubicación</th>
      <th class="text-right">Ver detalle</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="network in vm.pagedItems" ui-sref="networks.view({ networkId: network._id })">
      <td class="text-center" ng-bind="network.carCode"></td>
      <td class="text-center" ng-repeat="option in vm.categories" ng-if="network.category === option.id">{{option.name}}</td>
      <td class="text-center" ng-show="network.serviceUserEmail" ng-bind="network.serviceUserEmail"></td>
      <td class="text-center" ng-show="!network.serviceUserEmail" ng-bind="'No posee responsable'"></td>
      <td class="text-center" ng-bind="network.status"></td>
      <td class="text-center" ng-show="network.longitude && network.latitude" ng-bind="'('+network.latitude + ',' + network.longitude+')'"></td>
      <td class="text-center" ng-show="!(network.longitude && network.latitude)" ng-bind="'No posee coordenadas'"></td>
      <td class="td-actions text-right">
        <button ui-sref="networks.view({ networkId: network._id })" type="button" rel="tooltip" title="Detalle" class="btn btn-success btn-simple btn-xs">
          <i class="fa fa-edit"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>


  <div class="alert alert-warning text-center" ng-if="vm.networks.$resolved && !vm.networks.length">
    No existen unidades registradas hasta los momentos ¿<a ui-sref="networks.create">registras uno</a>?
  </div>
</section>
