<section style="margin: 0% 20% 0% 20% ">
  <div class="col-xs-12 text-center page-header"  >
    <h1>Detalle unidad de atención</h1>
  </div>

  <table id="unidades" class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Atributo</th>
      <th>Especificación</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th >Codigo</th>
      <td ng-bind="vm.network.carCode"></td>
    </tr>
    <tr>
      <th >Marca</th>
      <td ng-bind="vm.network.carBrand"></td>
    </tr>
    <tr>
      <th >Modelo</th>
      <td ng-bind="vm.network.carModel"></td>
    </tr>
    <tr>
      <th >Placa</th>
      <td ng-bind="vm.network.carPlate"></td>
    </tr>
    <tr>
      <th scope="row">Color</th>
      <td ng-bind="vm.network.carColor"></td>
    </tr>
    <tr>
      <th >Categoría</th>
      <td  ng-repeat="option in vm.categories" ng-if="vm.network.category === option.id">{{option.name}}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td ng-bind="vm.network.status"></td>
    </tr>
    <tr>
      <th >Responsable</th>
      <td ng-bind="vm.network.serviceUserEmail"></td>
    </tr>
    </tbody>
  </table>

  <small>
    <em class="text-muted">
      Fecha de registro
      <span ng-bind="vm.network.created | date:'mediumDate'"></span>
      por
      <span ng-if="vm.network.user"
            ng-bind="vm.network.user.displayName"></span>
      <span ng-if="!vm.network.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.network.content"></p>
  <div class="pull-right"
       ng-show="vm.network.isCurrentUserOwner">
    <a class="btn btn-info"
       ui-sref="networks.edit({ networkId: vm.network._id })">
      Editar
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-info" ng-click="vm.remove()">
      Eliminar
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="panel-group" id="accordion" style="margin-top: 53px;">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="padding-bottom: 8px; margin-left: 14px">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            <img class="status" style="vertical-align: baseline" ng-src="/modules/panels/client/img/route.png" alt="Loading image...">
            <p style="margin: 0 0 2px 35px;">Ruta</p>
          </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="statusBox">
          <div class="scrollbar-log-network" id="style-6">
            <div class="force-overflow">
              <div id="directionsList" class="panel panel-primary"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
