<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Catálogo</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <!--<input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Buscar" ng-change="vm.figureOutItemsToDisplay()" />-->
        <select name="category" id="category" class="form-control">
          <option value="0">Seleccione una categoría a consultar </option>
          <option value="1">Asistencia bomberil </option>
          <option value="2">Asistencia de seguridad </option>
          <option value="4">Asistencia médica </option>
        </select>
      </div>
    </div>
  </div>

  <div class="list-group">
    <a ng-repeat="article in vm.articles" ui-sref="articles.view({ articleId: article._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.created | date:'mediumDate'"></span>
        by
        <span ng-if="article.user" ng-bind="article.user.displayName"></span>
        <span ng-if="!article.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="article.title"></h4>
      <p class="list-group-item-text" ng-bind="article.content"></p>
    </a>
  </div>
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
