<section style="margin: 0% 20% 0% 20% ">

  <div class="col-xs-12 text-center page-header"  >
    <h1>Detalle del organismo de atención</h1>
  </div>
  <table class="table" style="text-align: left">

    <thead>
    <tr>
      <th style="width: 217px"></th>
      <th style="width: 434px"></th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th class="info" scope="row">Nombre del organismo:</th>
      <td ng-bind="vm.article.name"></td>
    </tr>
    <tr>
      <th class="info" scope="row">Categoría de servicio:</th>
      <td ng-bind="vm.article.category"></td>
    </tr>
    <tr>
      <th class="info" scope="row">Descripción:</th>
      <td ng-bind="vm.article.about"></td>
    </tr>
    </tbody>
  </table>

  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.article.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
      <span ng-if="!vm.article.user">Deleted User</span>
    </em>
  </small>
</section>
