<section>
  <div class="page-header">
    <h1>Panels</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="panel in vm.panels"
       ui-sref="panels.view({ panelId: panel._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="panel.created | date:'mediumDate'"></span>
        by
        <span ng-if="panel.user" ng-bind="panel.user.displayName"></span>
        <span ng-if="!panel.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="panel.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.panels.$resolved && !vm.panels.length">
    No Panels yet, why don't you <a ui-sref="panels.create">create one</a>?
  </div>
</section>
