<section>
  <div class="text-center title">
    <h2>Panel de solicitudes de atención</h2>
    <br/>
  </div>
  <div id="map" class="col-md-12" >
    <ng-map
      style="height: 519px"
      zoom="11"
      center="[{{vm.centerLatitude}},{{vm.centerLongitude}}]">
      <marker ng-repeat="alarms in vm.alarms "
              id='{{alarms._id}}'
              position="{{[alarms.latitude, alarms.longitude]}}"
              title="{{alarms.status}}"
              animation="{{vm.selected.id === alarms._id ? 'Animation.BOUNCE' : ''}}"
              icon="{{alarms.icon}}"
              on-click="vm.showDetailAlarms(alarms)">
      </marker>

      <marker ng-repeat="network in vm.networks "
              id='{{network._id}}'
              position="{{[network.latitude, network.longitude]}}"
              title="{{network.status}}"
              animation="{{vm.selected.id === network._id ? 'Animation.BOUNCE' : ''}}"
              icon="{{network.icon}}"
              on-click="vm.showDetailNetwork(network)">
      </marker>

      <directions ng-repeat="direction in vm.directions"
                  draggable="false"
                  travel-mode="DRIVING"
                  panel="{{direction.panelName}}"
                  origin="{{direction.origin}}"
                  destination="{{direction.destination}}">
      </directions>

      <info-window id="infoWindowAlarm" >
        <div ng-non-bindable="">
          Usuario: {{vm.new_alarm.user.displayName}}<br/>
          Dirección: {{vm.new_alarm.address}}<br/>
          Coordenadas: {{vm.new_alarm.latitude}}, {{vm.new_alarm.longitude}}<br/>
          Status: {{vm.new_alarm.status}}<br/>
          Categoría de servicio: {{vm.new_alarm.categoryName[0].category}}<br/>
          Creación: {{vm.new_alarm.created | date:'medium' }}<br/>
          <div ng-show="vm.new_alarm.networkNear.obj.carCode && vm.new_alarm.status === 'esperando'">
            Unidad recomendada:  <strong>{{vm.new_alarm.networkNear.obj.carCode}}</strong><br/>
          </div>
          <a ui-sref="alarms.view({ alarmId: vm.new_alarm._id })">Más sobre esta alarma</a><br/>
        </div>
      </info-window>

      <info-window id="infoWindowNetwork" >
        <div ng-non-bindable="">
          id: <strong>{{vm.new_network.carCode}}</strong><br/>
          Dirección: {{vm.new_network.address}}<br/>
          Coordenadas: {{vm.new_network.latitude}}, {{vm.new_network.longitude}}<br/>
          Status: {{vm.new_network.status}}<br/>
          Categoría de servicio: {{vm.new_network.categoryName[0].category}}<br/>
          Creación: {{vm.new_network.created | date:'medium'}}<br/>
          <a  ui-sref="networks.view({ networkId: vm.new_network._id })">Más sobre esta unidad</a><br/>
        </div>
      </info-window>
    </ng-map>
  </div>

  <div id="leyenda" class="container">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"  style="padding-bottom: 8px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              <img class="status" ng-src="/modules/panels/client/img/wait.png" alt="Loading image...">
              Cliente esperando
            </a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="statusBox">
            <div class="scrollbar" id="style-13">
              <div class="force-overflow">
                <ul>
                  <li ng-repeat="alarm in vm.alarmsEsperando | orderBy : '+created'">
                    <a ng-click="vm.center(alarm)" href="">
                      {{alarm.created | date:'medium'}}
                      <br/>
                      Tiempo transcurrido: {{vm.getDifference(alarm.created)}}
                    </a>
                    <button ng-show="vm.user === 'operator'"
                            ng-click="vm.assignNear(alarm)"
                            class="btn btn-success btn-xs">
                      Usar recomendación
                      <div class="ripple-container">
                      </div>
                    </button>
                    <button style="background-color: #337ab7;"
                            ng-show="vm.user === 'operator'"
                            ng-click="vm.cancelAlarm(alarm,1)"
                            class="btn btn-primary btn-xs">
                      Rechazar
                      <div class="ripple-container">
                      </div>
                    </button>
                    <br/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"  style="padding-bottom: 8px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              <img class="status" style="vertical-align: baseline" ng-src="/modules/panels/client/img/process.png" alt="Loading image...">
              Cliente en atencion
            </a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="statusBox">
            <div class="scrollbar" id="style-7">
              <div class="force-overflow">
                <ul>
                  <li ng-repeat="alarm in vm.alarmsEnAtencion | orderBy : '+created'" >
                    <a ng-click="vm.center(alarm)" href="">
                      {{alarm.created | date:'medium'}}
                      <br/>
                      Tiempo transcurrido: {{vm.getDifference(alarm.created)}}
                    </a>
                    <button ng-show="vm.user === 'operator'"
                            ng-click="vm.cancelAlarm(alarm,2)"
                            class="btn btn-warning btn-xs">
                      Cancelar
                      <div class="ripple-container">
                      </div>
                    </button>
                    <br/>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"  style="padding-bottom: 8px;">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
              <img class="status" style="vertical-align: baseline" ng-src="/modules/panels/client/img/car-placeholder.png" alt="Loading image...">
              Unidades de atención
            </a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="statusBox">
            <div class="scrollbar" id="style-14">
              <div class="force-overflow">
                <ul>
                  <li ng-repeat="network in vm.networks ">
                    <a ng-click="vm.center(network)" href="">
                      {{network.carCode}}
                      -
                      {{network.status}}

                    </a>
                    <br/>
                    <button class="btn btn-info btn-xs"
                            ui-sref="networks.view({ networkId: network._id })">
                      Ver detalle
                      <div class="ripple-container">
                      </div>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
