<section>
  <div class="page-header">
    <h1>Usuario <span ng-bind="vm.user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="vm.userForm" ng-submit="vm.update(vm.userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group has-info " show-errors>
          <label class="control-label" for="firstName">Nombre</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" required autofocus />
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div ng-hide="vm.user.roles == 'organism'" class="form-group has-info " show-errors>
          <label class="control-label" for="lastName">Apellido</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" />
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <!--<div class="form-group has-info label-floating" show-errors>
          <label class="control-label" class="control-label" for="roles">Rol</label>
          <div class="controls">
            <input class="form-control" type="text" name="roles" ng-model="vm.user.roles" id="rolesx" ng-list required />
            <div ng-messages="vm.userForm.roles.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Es necesario que el usuario posea un rol dentro del sistema</p>
            </div>
          </div>
        </div>-->
        <div class="form-group has-info " show-errors>
          <label class="control-label" class="control-label" for="roles">Rol</label>
          <select class="form-control" type="text" name="roles" ng-model="vm.user.roles" id="roles" ng-list required>
            <option value="admin">admin </option>
            <option value="user">user </option>
            <option value="organism">organism</option>
            <option value="operator">operator </option>
            <option value="userService">userService </option>
          </select>
          <div ng-messages="vm.userForm.category.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Es necesario indicar el rol del usuario</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Actualizar" class="btn btn-info btn-raised">
        </div>
      </fieldset>
    </form>
    <br />

    <div class="form-group">

      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Roles del sistema</th>
          <th>Descripción</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">admin</th>
          <td>Personal encargado de la adminstración básica del sistema</td>
        </tr>
        <tr>
          <th scope="row">user</th>
          <td>Cliente</td>
        </tr>
        <tr> <th scope="row">organism</th>
          <td>Empresa de atención</td>
        </tr>
        <tr> <th scope="row">operator</th>
          <td>Operador del panel de atención</td>
        </tr>
        <tr> <th scope="row">userService</th>
          <td>Usuario responsable de una unidad de atención</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</section>
