<section>

  <div class="text-center page-header">
    <div class="row">
      <div>
        <h2>Listado de usuarios del sistema</h2>
      </div>
      <div class="form-group has-info label-floating col-md-4" style="margin: 0% 20% 0% 34% ; width: 32.5%">

        <input class="form-control col-md-4"
               type="text" ng-model="vm.search"
               placeholder="Buscar"
               ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div style="margin: 0% 20% 0% 20% " class="list-group">
    <a ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <img style="vertical-align: baseline" ng-src="/{{user.profileImageURL}}" height="50" width="50" alt="Loading image...">
      <div style="display: inline-block; margin-left: 1%">
        <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
        <!--<p class="list-group-item-text small" ng-bind="user.roles"></p>-->
        <p class="list-group-item-text" ng-bind="user.email"></p>

        <small style="display: inline-block" class="list-group-item-text">
          Fecha de registro
          <span ng-bind="user.created | date:'mediumDate'"></span>
          <div style="display: inline-block" ng-show="user.user._id">
            por
            <span ng-bind="user.user.displayName"></span>
          </div>
        </small>
      </div>
    </a>
  </div>

  <!--<table id="users" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Rol</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.pagedItems" ui-sref="admin.user({userId: user._id})">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.roles}}</td>
        <td></td>
      </tr>
    </tbody>
  </table>-->
  <div style="margin: 0% 20% 5% 20% ">
  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
  </div>
</section>

<script>
  $(document).ready(function(){
    //$('#users').DataTable();
  });
</script>
