<section style="margin-bottom: 80px">
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h2> Datos del usuario</h2>
        <div class="row">
          <div class="col-md-12">Este usuario se encuentra actualmente <em class="textRequired" ng-bind="vm.user.isActive"></em></div>
        </div>
      </div>
      <div class="col-md-6">
        <a ng-bind="vm.user.isActive == 'activo' ? 'Inactivar': 'Activar'"
           class="btn btn-info btn-raised"
           ng-click="vm.status(vm.user.isActive)">

          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-info btn-raised" ui-sref="admin.user-edit({userId: vm.user._id})">
          Editar
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-info btn-raised" ng-click="vm.remove()" ng-if="!vm.isContextUserSelf()">
          Eliminar
          <i class="glyphicon glyphicon-trash"></i>
        </a>
        <a class="btn btn-info btn-raised" ui-sref="admin.users">
          Volver atrás
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Nombre</strong></div>
        <div class="col-md-6" ng-bind="vm.user.firstName"></div>
      </div>
      <hr/>

      <div class="row">
        <div class="col-md-3"><strong>Apellido</strong></div>
        <div class="col-md-6" ng-bind="vm.user.lastName"></div>
      </div>
      <hr/>

      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
        <div class="col-md-6" ng-bind="vm.user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Provider</strong></div>
        <div class="col-md-6" ng-bind="vm.user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Fecha de registro</strong></div>
        <div class="col-md-6" ng-bind="vm.user.created | date:'medium'"></div>
      </div>
      <hr/>
      <div ng-show="vm.user.organism" ng-repeat="organism in vm.organism" ng-if="vm.user.organism === organism.rif">
      <div class="row">
        <div class="col-md-3"><strong>{{organism.name}}</strong></div>
        <div class="col-md-6" > <em>RIF:</em> {{organism.rif}} <em>Estado:</em> {{organism.isActive}}</div>
      </div>
      <hr/>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Rol</strong></div>
        <div class="col-md-6" ng-bind="vm.user.roles"></div>
      </div>
    </div>
  </div>
</section>
