<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h2>Datos organismo</h2>
      </div>
      <div class="col-md-4">
        <a class="btn btn-info btn-raised" ui-sref="organisms.edit({organismId: vm.organisms[0]._id})">
          Editar
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-info btn-raised" ui-sref="authentication.signup-adminorganism">
          Nuevo admin
          <i class="glyphicon glyphicon-edit"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Nombre</strong></div>
        <div class="col-md-6">{{vm.organisms[0].name}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>RIF</strong></div>
        <div class="col-md-6">{{vm.organisms[0].rif}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Correo electronico</strong></div>
        <div class="col-md-6">{{vm.organisms[0].email}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>País</strong></div>
        <div class="col-md-6">{{vm.organisms[0].country}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Dirección</strong></div>
        <div class="col-md-6">{{vm.organisms[0].address}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Estado en el sistema</strong></div>
        <div class="col-md-6">{{vm.organisms[0].isActive}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Categoría</strong></div>
        <div class="col-md-6" ng-repeat="option in vm.categories" ng-if="option._id === vm.organisms[0].category">{{option.category}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Plan</strong></div>
        <div class="col-md-6">{{vm.organisms[0].plan ? vm.organisms[0].plan : 'Sin configurar'}}</div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Fecha de registro</strong></div>
        <div class="col-md-6">{{vm.organisms[0].created | date:'medium'}}</div>
      </div>
      <hr/>
    </div>
  </div>
</section>
