<section>
<section>
  <div class="page-header">
    <h1>{{vm.alarma._id ? 'Editar tipo de alarma' : 'Nuevo tipo de alarma'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.alarmaForm" class="form-horizontal" ng-submit="vm.save(vm.form.alarmaForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group has-info label-floating" show-errors>
          <label class="control-label" for="name">Nombre de la categoría</label>
          <input name="name" type="text" ng-model="vm.alarma.name" id="name" class="form-control" required>
          <div ng-messages="vm.form.alarmaForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre es necesario</p>
          </div>
        </div>
        <div class="form-group has-info label-floating" show-errors>
          <label class="control-label" for="photo">Icono de la alarma</label>
          <input name="photo" type="text" ng-model="vm.alarma.photo" id="photo" class="form-control" required>
          <div ng-messages="vm.form.alarmaForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">La foto es necesaria</p>
          </div>
        </div>
       <!--   *El form de editar perfil*
        <div class="form-group text-center">
          <img ngf-src="vm.fileSelected ? picFile : '/' + vm.user.profileImageURL" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop>
        </div>
        <div ng-show="vm.loading" class="form-group text-center">
          <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
        </div>
        <div ng-show="!vm.fileSelected" class="text-center form-group">
          <button class="btn btn-info btn-raised btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Seleccionar foto</button>
        </div>
        <div ng-show="vm.fileSelected" class="text-center form-group">
          <button class="btn btn-info btn-raised" ng-click="vm.upload(picFile)">Usar esta foto</button>
          <button class="btn btn-default" ng-click="vm.fileSelected = false">Cancelar</button>
        </div>
        <div ng-show="vm.fileSelected" class="progress text-center">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
            <span class="sr-only">{{vm.progress}}% Complete</span>
          </div>
        </div>-->




        <div class="form-group">
          <button type="submit" class="btn btn-info btn-raised">{{vm.alarma._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
