<section>
  <div class="page-header">
    <h1>Alarmas</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="alarma in vm.alarmas"
       ui-sref="alarmas.view({ alarmaId: alarma._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="alarma.created | date:'mediumDate'"></span>
        by
        <span ng-if="alarma.user" ng-bind="alarma.user.displayName"></span>
        <span ng-if="!alarma.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="alarma.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.alarmas.$resolved && !vm.alarmas.length">
    No Alarmas yet, why don't you <a ui-sref="alarmas.create">create one</a>?
  </div>
</section>
