<section class="row">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="vm.userForm" ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">Nombre</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.user.firstName" placeholder="First Name" required autofocus>
          <div ng-messages="vm.userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">First name is required.</p>
          </div>
        </div>
        <div ng-show="vm.user.roles != 'organism'" class="form-group" show-errors>
          <label for="lastName">Apellido</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="vm.user.lastName" placeholder="Last Name">
          <div ng-messages="vm.userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Last name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" ng-model="vm.user.email" placeholder="Email" lowercase required>
          <div ng-messages="vm.userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Email address is required.</p>
            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="vm.user.username" placeholder="Username" lowercase required>
          <div ng-messages="vm.userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>

        <div ng-show="vm.user.roles == 'organism'" class="form-group" show-errors>
          <label for="about">Descripción de la empresa</label>
          <textarea
            name="about"
            data-ng-model="vm.user.about"
            id="about"
            class="form-control"
            cols="30" rows="5"
            placeholder="Indique una breve descripción sobre la empresa y/o los servicios que ofrece">

          </textarea>
          <div ng-messages="vm.userForm.about.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div>
          <label for="about">Categoría de servicios</label>
          <!--<input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Buscar" ng-change="vm.figureOutItemsToDisplay()" />-->
          <select name="category" id="category" class="form-control">
            <option value="0">Seleccione una categoría </option>
            <option value="Asistencia bomberil">Asistencia bomberil </option>
            <option value="Asistencia de seguridad">Asistencia de seguridad </option>
            <option value="Asistencia médica">Asistencia médica </option>
            <option value="Todas las anteriores">Todas las anteriores </option>
            <option value="Otra categoría">Otra categoría </option>
            <option value="Diversas categorías">Diversas categorías </option>
          </select>
        </div>
        <br/>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
