<section>
  <div class="text-center">
    <h2 class="title">{{vm.categoriaservicio._id ? 'Editar categoria de servicio' : 'Nueva categoria de servicio'}}</h2>
    <small>
      El nombre y la imagen de la categoría son campos obligatorios <span class="textRequired">*</span>
    </small>
  </div>
  <div class="col-md-12">
    <form name="vm.form.categoriaservicioForm" class="form-horizontal" ng-submit="vm.save(vm.form.categoriaservicioForm.$valid)" novalidate>
      <fieldset>

        <div style="margin: 0% 20% 0% 21% " class="form-group has-info " show-errors>
          <label class="control-label"  for="category">Nombre de la categoría</label>
          <span class="textRequired">*</span>
          <input name="category" type="text" ng-model="vm.categoriaservicio.category" id="category" class="form-control" required>
          <div ng-messages="vm.form.categoriaservicioForm.category.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre es necesario</p>
          </div>
        </div>

        <div class="form-group text-center" ng-show="vm.fileSelected || vm.categoriaservicio.iconUrl" >
          <img ngf-src="vm.fileSelected ? vm.picFile : '/' + vm.categoriaservicio.iconUrl" class="img-thumbnail" ngf-drop>
        </div>

        <div ng-show="vm.loading" class="form-group text-center">
          <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
        </div>

        <div style="margin: 0% 20% 0% 30% " >
          <div style="display: inline-block" class="form-group has-info ">
            <!--<label class="control-label"  for="icon">icono de la categoría</label>-->
            <!--<input name="icon" type="text" ng-model="vm.categoriaservicio.icon" id="icon" class="form-control" required>-->
            <button class="btn btn-info btn-raised btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="vm.picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Seleccionar icono de la categoría <span class="textRequired">*</span></button>
            <!--<div ng-messages="vm.form.categoriaservicioForm.icon.$error" role="alert">-->
            <!--<p class="help-block error-text" ng-message="required">El icono es necesario.</p>-->
            <!--</div>-->
          </div>

          <div style="display: inline-block; margin-left: 5%" class="form-group">
            <button type="submit" class="btn btn-info">{{vm.categoriaservicio._id ? 'Actualizar categoría' : 'Crear categoría'}}</button>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
