<section>
  <div class="text-center page-header">
    <h2>Categorias de servicios</h2>
  </div>
  <div class="list-group" style="margin: 0% 20% 5% 20%">
    <a ng-repeat="categoriaservicio in vm.categoriaservicios"
       ui-sref="categoriaservicios.view({ categoriaservicioId: categoriaservicio._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="categoriaservicio.created | date:'mediumDate'"></span>
        by
        <span ng-if="categoriaservicio.user" ng-bind="categoriaservicio.user.displayName"></span>
        <span ng-if="!categoriaservicio.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="categoriaservicio.category"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.categoriaservicios.$resolved && !vm.categoriaservicios.length">
    No Categoriaservicios yet, why don't you <a ui-sref="categoriaservicios.create">create one</a>?
  </div>
</section>
