<div>
  <div class="section landing-section">
    <div class="row" id="register">
      <div class="col-md-8 col-md-offset-2">

        <h3 class="text-center title">
          Crear cuenta organismo de atención
        </h3>


        <form name="vm.userForm" ng-submit="vm.signup(vm.userForm.$valid)" class="signin" novalidate autocomplete="off">
          <fieldset>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-info label-floating" show-errors>
                  <label class="control-label" or="firstName">Nombre del organismo</label>
                  <input type="text" id="firstName" name="firstName" class="form-control" ng-model="vm.credentials.firstName" required autofocus>
                  <div ng-messages="vm.userForm.firstName.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Por favor introzuca su nombre</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-info label-floating" show-errors>
                  <label class="control-label" for="email">Email de uso administrativo</label>
                  <input type="email" id="email" name="email" class="form-control" ng-model="vm.credentials.email"  lowercase required>
                  <div ng-messages="vm.userForm.email.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Por favor introduzca su email.</p>
                    <p class="help-block error-text" ng-message="email">El email que introdujo es inválido</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-info label-floating" show-errors>
                  <label class="control-label" for="username">Username de uso administrativo</label>
                  <input type="text" id="username" name="username" class="form-control" ng-model="vm.credentials.username" ng-pattern="vm.usernameRegex"  lowercase required>
                  <div ng-messages="vm.userForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Por favor indique su username</p>
                    <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-info label-floating" show-errors>
                  <label class="control-label" for="ci">RIF</label>
                  <input type="text" id="ci" name="ci" class="form-control" ng-model="vm.credentials.ci" ng-pattern="vm.usernameRegex"  lowercase required>
                  <div ng-messages="vm.userForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Por favor el país donde reside actualmente</p>
                    <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group has-info label-floating" show-errors>
                  <label class="control-label" for="country">País donde se encuentra ubicada la empresa</label>
                  <input type="text" id="country" name="country" class="form-control" ng-model="vm.credentials.country" ng-pattern="vm.usernameRegex"  lowercase required>
                  <div ng-messages="vm.userForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Por favor el país donde reside actualmente</p>
                    <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-info label-floating" show-errors>
                  <label class="control-label" for="phone">Teléfono administrativo</label>
                  <input type="text" id="phone" name="phone" class="form-control" ng-model="vm.credentials.phone" ng-pattern="vm.usernameRegex" lowercase required>
                  <div ng-messages="vm.userForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Por favor indique su teléfono</p>
                    <p class="help-block error-text" ng-message="pattern">Please enter a valid username: 3+ characters long, non restricted word, characters "_-.", no consecutive dots, does not begin or end with dots, letters a-z and numbers 0-9.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-md-6">
                <div class="form-group has-info label-floating" show-errors>
                  <label class="control-label" for="password">Contraseña</label>
                  <input type="password" id="password" name="password" class="form-control" ng-model="vm.credentials.password"  uib-popover="{{vm.getPopoverMsg()}}" popover-trigger="outsideClick" password-validator required>
                  <div ng-messages="vm.userForm.password.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Por favor indique su contraseña.</p>
                    <div ng-repeat="passwordError in passwordErrors">
                      <p class="help-block error-text" ng-show="vm.userForm.password.$error.requirements">{{passwordError}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group has-info label-floating" ng-show="!vm.userForm.password.$error.required">
              <label>Password Requirements</label>
              <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
            </div>
            <div class="text-center form-group">
              <button type="submit" class="btn btn-info btn-raised">Sign up</button>
              &nbsp; or&nbsp;
              <a ui-sref="authentication.signin" class="show-signup">Sign in</a>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

